<mat-card>
    <mat-card-header>
      <mat-card-title>Device Types</mat-card-title>
      
    </mat-card-header>
   <hr>
    <mat-card-content>
      <!-- Add content for the card body here -->
      <div>
        
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Version</mat-label>
                <input matInput>
            </mat-form-field>
           
            <button mat-button >Submit</button>
      </div>
    </mat-card-content>
    
   
  </mat-card>
