<body class="main-container">
    <mat-toolbar class="mb-0" >
        <div class="" (click)="opened=!opened">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <img src="./assets/img/Asset1.png" class="justify-content-center align-items-center mx-2" style="width: 50px; height: 50px;">
        <h1 class="mb-0">Bariflo Labs</h1>
        </mat-toolbar>

     <mat-sidenav-container>
        <mat-sidenav mode="side" [(opened)]="opened">
            <mat-nav-list>  
                <!-- Menu item with a sub-menu -->
                <mat-list-item>
                  <a mat-list-item href="dashboard">Accounts</a>
                </mat-list-item>
                <mat-list-item>
                  <a mat-list-item href="#">New Devices</a>
                </mat-list-item>
                <mat-list-item>
                  <a mat-list-item href="users">Users</a>
                </mat-list-item>
                <mat-list-item (click)="toggleSubMenu('submenu1')">
                  <span>Settings</span>
                  
                </mat-list-item>
                <mat-list-item *ngIf="isSubMenuOpen('submenu1')">
                  <a mat-list-item href="#">Device Types</a>
                 
                </mat-list-item>
              </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <button class="btn btn-primary" (click)="openDialog7()">Refresh</button>
          <button class="btn btn-primary mx-5" (click)="openDialog7()">Back</button>
          <hr>
         <div class="row">
           <div class="col-lg-6">
            <h1>Line chart</h1>
            <mat-card>
             <mat-card-header></mat-card-header>
             <mat-card-content>
               <canvas id="linechart"></canvas>
             </mat-card-content>
            </mat-card>
           </div>
           <div class="col-lg-6">
            <h1>Line chart</h1>
            <mat-card>
             <mat-card-header></mat-card-header>
             <mat-card-content>
               <canvas id="linechart"></canvas>
             </mat-card-content>
            </mat-card>
           </div>
         </div>
        </mat-sidenav-content>
     </mat-sidenav-container>   
</body>
